h3.masthead-brand Cover{{$path()}}
ul.nav.masthead-nav(bs-nav)
  li(ng-class="{active: $path() == '/'}"): a(href="#/") Home
  li(ng-class="{active: $path() == '/features'}"): a(href="#/features") Features
  li(ng-class="{active: $path() == '/contact'}"): a(href="#/contact") Contact
